body {
    
    background-image: url('https://static.foxnews.com/foxnews.com/content/uploads/2021/05/outback-1.jpg');
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;

}