body {
    
    background-image: url('https://cdn.motor1.com/images/mgl/QeWeG7/s1/2022-lucid-air.jpg');
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;

}