
body {
    
    background-image: url('https://www.bentleymotors.com/content/dam/bentley/Master/Models/derivative-strategy-/continental-gt/continental-gt-azure/deriv%20hero%201920x960%20GT_Azure_Static_RGB.jpg/_jcr_content/renditions/original.image_file.1920.960.file/deriv%20hero%201920x960%20GT_Azure_Static_RGB.jpg');

    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;
}
