body {
    
    background-image: url('https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/body-image/public/mclaren-720s_0.jpg?itok=wZbSZ3FZ');
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;

}