body {
    
    background-image: url('https://www.orangeparkdodgeflorida.com/assets/shared/CustomHTMLFiles/Responsive/MRP/Jeep/2022/Grand-Wagoneer/images/2022-Jeep-Grand-Wagoneer-03.jpg');
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;

}