body {
    
    background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2020-08-rivian-r1t-yellow-front-june2020-andihedrick-scaled-1620654682.jpg');
    background-position: right; 
    background-repeat: no-repeat;
    background-size: cover;

}

